name: Publish to NuGet

permissions:
  id-token: write

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release 
    
    permissions:
      id-token: write
      contents: read
      
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Extract Version
        id: get_version
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - name: Pack
        run: dotnet pack src/ISeeUglyCode.Razor.PrettyIf/ISeeUglyCode.Razor.PrettyIf.csproj -c Release -o out /p:Version=${{ steps.get_version.outputs.VERSION }}

      - name: Login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Push
        run: dotnet nuget push out/*.nupkg --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source https://www.nuget.org/api/v2/package --skip-duplicate
